@model GiveAwayApp.Models.StatiskViewModel
@{
    ViewData["Title"] = "Statistik";
}
<h1 class="container">Statistik</h1>

<section class="container-fluid">
    <div class="row">
        <div class="col">
            <h5>Mest poplære spil</h5>
            <table class="table table-responsive table-striped table-hover">
                <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Valgt antal</th>
                    <th scope="col">Titel</th>
                </tr>
                @{int popSpilIndex = 1;}
                @foreach (Spil spil in Model.PopulæreSpilList)
                {
                    <tr>
                        <td scope="col">#@(popSpilIndex++)</td>
                        <td scope="col">@spil.ValgtAntal</td>
                        <td scope="col">
                            <a href="@Href($"https://store.steampowered.com/app/{spil.SteamId}/")">
                                @spil.Titel
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="col">
            Antal af brugere: @Model.AntalBrugere
        </div>
    </div>
</section>