@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h1 class="text-center">
            <a id="confirm-link" href="@Model.EmailConfirmationUrl">Klik her for at bekræfte din konto.</a>
        </h1>
        <p class="text-center h5">For at gennemføre registrering skal du klikke på linket oven over for at bekræfte din konto.</p>
    }
    else
    {
        <p>Noget gik galt. Prøv at oprette din konto igen.</p>                
    }
}
