@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til en give away af spil</h1>
    <p>Klik her <a asp-controller="Spil" asp-action="Index">for at se udvalget af de spil man kan vinde på denne hjemmeside</a>.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p class="text-danger">Husk at du skal være oprettet som en bruger før at du kan vælge de spil du gerne vil vinde!</p>
    }
</div>
