@{
    ViewData["Title"] = "Fortrolighedspolitik ";
}
<h1>@ViewData["Title"]</h1>

<section class="container">
    <p>
        <strong>A. Introduktion</strong>
    </p>
    <ol>
        <li>At sikre privatlivets fred for alle vores besøgende på hjemmesiden er af højeste prioritet for os, og vi er seriøse omkring din sikkerhed. Denne politik forklarer, hvordan vi håndterer dine personlige oplysninger.</li>
        <li>Samtykke til vores brug af cookies i overensstemmelse med betingelserne i denne politik, når du først besøger vores hjemmeside, giver os tilladelse til at bruge cookies, hver gang du besøger vores websted.</li>
    </ol>
    <p>
        <strong>B. Dokumentinformation<br></strong>
        Dette dokument er blevet oprettet ved hjælp af en skabelon fra SEQ Legal (seqlegal.com).
    </p>
    <p>
        <strong>C. Indsamling af personlige oplysninger</strong>
    </p>
    <p>The following types of personal information may be collected, stored, and used:</p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Oplysninger om din computer, herunder din IP-adresse, geografisk placering, browsertype og -version samt operativsystem;</li>
                <li>Oplysninger om dine besøg på og din anvendelse af nærværende websted, herunder henvisningskilde, besøgslængde, sidevisninger og navigationsstier på webstedet;</li>
                <li>Oplysninger som du indtaster, når du tilmelder dig vores hjemmeside, eksempelvis din e-mail-adresse;</li>
                <li>Oplysninger, som du indtaster, når du opretter en profil på vores websted — for eksempel dit navn,</li>
                <li>Profilbillede, køn, fødselsdag, forholdsstatus, interesser og hobbyer, uddannelsesdetaljer eller ansættelsesdetaljer;</li>
                <li>Oplysninger, som du indtaster for at opsætte abonnementer på vores e-mails og/eller nyhedsbreve, såsom dit navn og din e-mail-adresse;</li>
                <li>Oplysninger, som du indtaster ved brug af tjenesterne på vores hjemmeside7. information, der genereres under brug af vores websted, herunder hvornår, hvor ofte og under hvilke omstændigheder, du bruger den;</li>
                <li>Oplysninger om alt, hvad du køber, tjenester, du bruger, eller transaktioner, du foretager via vores websted, hvilket eventuelt inkluderer dit navn, adresse, telefonnummer, e-mail-adresse og kreditkortoplysninger;</li>
                <li>Oplysninger, som du sender til vores websted med det formål at offentliggøre dem på internettet, hvilket inkluderer dit brugernavn, profilbillede og indholdet af dine indlæg;</li>
                <li>Information indeholdt i enhver kommunikation, som du sender til os via e-mail eller via vores hjemmeside, herunder disses kommunikationsindhold og metadata;</li>
                <li>Alle andre personlige oplysninger, som du sender til os.</li>
            </ol>
        </li>
    </ol>
    <p>Før du overrækker os en anden persons personlige oplysninger, skal du indhente denne persons samtykke til både videregivelse og behandling af disse personlige oplysninger i overensstemmelse med denne politik.</p>
    <p>
        <strong>D. Anvendelse af personlige oplysninger</strong>
    </p>
    <p>Personlige oplysninger, der indsendes til os via vores hjemmeside, vil udelukkende blive brugt til de formål, der er specificeret i denne politik, eller på de relevante sider på webstedet. Vi bruger muligvis dine personlige oplysninger til følgende:</p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Administration af vores hjemmeside og forretning;</li>
                <li>Personalisering af vores hjemmeside til netop dig;</li>
                <li>Aktivering af din brug af de tilgængelige tjenester på vores websted;</li>
                <li>At sende dig varer, der er købt via vores hjemmeside;</li>
                <li>Levering af tjenester købt via vores hjemmeside;</li>
                <li>At sende beskeder, fakturaer og betalingspåmindelser til dig og indsamle betalinger fra dig;</li>
                <li>At sende dig ikke-kommerciel kommunikation;</li>
                <li>At sende dig e-mail-meddelelser, som du specifikt har anmodet om;</li>
                <li>At sende dig vores e-mail-nyhedsbrev, såfremt du har anmodet om det (du kan informere os når som helst, hvis du ikke længere ønsker at modtage nyhedsbrevet);</li>
                <li>At sende dig marketingkommunikation vedrørende vores forretning eller forretninger med omhyggeligt udvalgte tredjeparter, som vi mener kan være af interesse for dig, via mail eller, hvor du specifikt har accepteret dette, via e-mail eller lignende teknologi (du kan informere os til enhver tid, hvis du ikke længere ønsker at modtage marketingkommunikation);</li>
                <li>At give tredjepart statistisk information om vores brugere (dog vil disse tredjeparter ikke være i stand til at identificere nogen individuel bruger ud fra sådanne oplysninger);</li>
                <li>Håndtering af forespørgsler og klager fra eller om dig vedrørende vores websted;</li>
                <li>At holde vores hjemmeside sikker og forhindre svig;</li>
                <li>Verificering af overholdelse af betingelserne og vilkårene for brugen af vores websted (herunder overvågning af private meddelelser sendt via vores hjemmesides private beskedsystem); samt</li>
                <li>Anden anvendelse.</li>
            </ol>
        </li>
    </ol>
    <p>Hvis du sender personlige oplysninger til offentliggørelse på vores hjemmeside, kan vi offentliggøre og på anden måde bruge disse oplysninger i overensstemmelse med den tilladelse, du giver os.</p>
    <p>Dine privatlivsindstillinger kan bruges til at begrænse offentliggørelsen af dine oplysninger på vores hjemmeside, og du kan justere disse under privatlivsindstillinger på webstedet.</p>
    <p>Vi vil under ingen omstændigheder uden dit udtrykkelige samtykke videregive dine personlige oplysninger til nogen tredjepart til deres eller nogen anden tredjeparts direkte markedsføring.</p>
    <p>
        <strong>E. Videregivelse af personlige oplysninger</strong>
    </p>
    <p>Vi kan videregive dine personlige oplysninger til vores ansatte, ledere, forsikringsselskaber, professionelle rådgivere, agenter, leverandører eller underleverandører, som det med rimelighed er nødvendigt til de formål, der er beskrevet i denne politik.</p>
    <p>Vi kan videregive dine personlige oplysninger til ethvert medlem af vores virksomhedsgruppe (det vil sige vores datterselskaber, vores øverste holdingselskab og alle dets datterselskaber) som med rimelighed er nødvendigt til de formål, der er beskrevet i denne politik.</p>
    <p>Vi kan videregive dine personlige oplysninger:</p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>I det omfang, at vi er forpligtet til det ved lov;</li>
                <li>I forbindelse med igangværende eller fremtidige retssager</li>
                <li>For at etablere, udøve eller forsvare vores juridiske rettigheder (herunder levering af oplysninger til andre med henblik på forebyggelse af svig eller reduktion af kreditrisiko);</li>
                <li>Til køberen (eller den potentielle køber) af enhver virksomhed eller aktiv, som vi sælger (eller overvejer at sælge) til; og</li>
                <li>Til enhver person, som vi med rimelighed mener, kan anmode ved en domstol eller anden kompetent myndighed om videregivelse af disse personlige oplysninger, hvor, efter vores rimelige mening, en sådan retsinstans eller myndighed med høj sandsynlighed vil kunne beordre videregivelse af disse personlige oplysninger.</li>
            </ol>
        </li>
    </ol>
    <p>Med undtagelse af de forhold, som er angivet i denne politik, giver vi under ingen omstændigheder dine personlige oplysninger videre til tredjepart.</p>
    <p>
        <strong>F. IInternational dataoverførsel</strong>
    </p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Oplysninger, som vi indsamler, kan lagres, behandles i og overføres mellem et hvilket som helst af de lande, hvor vi opererer, for at gøre det muligt for os at bruge oplysningerne i overensstemmelse med denne politik.</li>
                <li>Oplysninger, som vi indsamler, kan overføres til følgende lande, der ikke har lovgivning om databeskyttelse svarende til dem, der gælder i Det Europæiske Økonomiske Samarbejdsområde: USA, Rusland, Japan, Kina og Indien.</li>
                <li>Personlige oplysninger, som du offentliggør på vores hjemmeside eller indsender til offentliggørelse på vores hjemmeside, kan være tilgængelige via Internettet over hele verden. Vi kan ikke forhindre brug eller misbrug af sådanne oplysninger.</li>
                <li>Du accepterer udtrykkeligt overførsler af personlige oplysninger beskrevet i dette afsnit F.</li>
            </ol>
        </li>
    </ol>
    <p>
        <strong>G. Opbevaring af personlige oplysninger</strong>
    </p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Dette afsnit G indeholder vores politikker og procedurer for opbevaring af data. Disse procedurer og politikker er designet til at sikre, at vi overholder vores juridiske forpligtelser vedrørende opbevaring og sletning af personlige oplysninger</li>
                <li>Personlige oplysninger, som vi behandler til ethvert formål, vil ikke opbevares længere, end det er nødvendigt til dette eller disse formål.</li>
                <li>
                    Uden at dette berøre artikel G-2, vil vi normalt slette personlige data, der falder inden for de kategorier, der er anført nedenfor til den dato/tid, der er angivet herunder:
                    <ol type="1">
                        <li>personoplysninger slettes {INDTAST DATO / TID}; og</li>
                        <li>{INDTAST YDERLIGERE DATOER / TIDER}.</li>
                    </ol>
                </li>
                <li>
                    Uanset de øvrige bestemmelser i dette afsnit G, opbevarer vi dokumenter (inklusive elektroniske dokumenter), der indeholder personoplysninger:
                    <br> 1. i det omfang, at vi er forpligtet til det ved lov; 2. hvis vi mener, at dokumenterne kan være relevante for enhver igangværende eller fremtidig retssag; og3. for at etablere, udøve eller forsvare vores juridiske rettigheder (herunder at give oplysninger til andre med henblik på forebyggelse af svig og reduktion af kreditrisiko).
                </li>
            </ol>
        </li>
    </ol>
    <p>&nbsp;</p>
    <p>
        <strong>H. Sikkerhed for personlige oplysninger</strong>
    </p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Vi vil altid træffe rimelige tekniske og organisatoriske forholdsregler for at forhindre tab, misbrug eller ændring af dine personlige oplysninger.</li>
                <li>Vi gemmer alle de personlige oplysninger, du leverer på vores sikre (adgangskode- og firewallbeskyttede) servere.</li>
                <li>Alle elektroniske finansielle transaktioner, der indgås via vores hjemmeside, vil blive beskyttet af krypteringsteknologi.</li>
                <li>Du er indforstået med, at transmission af information over internettet i sagens natur er usikker, og vi kan derfor ikke garantere sikkerheden af data, der sendes via internettet.</li>
                <li>Du er ansvarlig for at hemmeligholde den adgangskode, du bruger til at få adgang til vores websted; vi beder dig aldrig oplyse din adgangskode (undtagen når du logger ind på vores websted).</li>
            </ol>
        </li>
    </ol>
    <p>
        <strong>I. Ændringer</strong>
    </p>
    <p style="text-align: left;">Vi opdaterer muligvis denne politik fra tid til anden ved at offentliggøre en ny version på vores hjemmeside. Du bør tjekke denne side lejlighedsvist for at sikre, at du er indforstået med eventuelle ændringer i denne politik. Vi kan muligvis underrette dig om ændringer i denne politik via e-mail eller gennem det private beskedsystem på vores websted.</p>
    <p style="text-align: left;">
        <strong>J. Dine rettigheder</strong>
    </p>
    <p>Du kan instruere os til at overdrage dig alle personlige oplysninger, vi har om dig; levering af sådanne oplysninger vil være underlagt følgende betingelser:</p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>Betaling af et gebyr {INDTAST GEBYR HVIS RELEVANT}; og</li>
                <li>Levering af passende dokumentation for din identitet ({TILPAS TEKST TIL DIN POLITIK. Til dette formål vil vi normalt acceptere en fotokopi af dit pas, der er bekræftet af en notar plus en original kopi af en regning eller lignende, der viser din aktuelle adresse}).</li>
            </ol>
        </li>
    </ol>
    <p>Vi kan tilbageholde personlige oplysninger, som du anmoder om, i det omfang det er tilladt i henhold til loven.</p>
    <p>Du kan til enhver tid instruere os i ikke at behandle dine personlige oplysninger til markedsføringsformål.</p>
    <p>I praksis vil du normalt enten udtrykkeligt acceptere vores brug af dine personlige oplysninger til markedsføringsformål på forhånd, eller vi vil give dig mulighed for at fravælge brugen af dine personlige oplysninger til markedsføringsformål.</p>
    <p>
        <strong>K. Tredjepartshjemmesider</strong>
    </p>
    <p>Vores hjemmeside indeholder links til og detaljer om tredjepartswebsteder. Vi har ingen kontrol over, og er ikke ansvarlige for, tredjeparters privatlivspolitikker og praksisser.</p>
    <p>
        <strong>L.Opdatering af oplysninger </strong>
    </p>
    <p>Lad os det venligst vide, hvis de personlige oplysninger, vi har om dig, skal rettes eller opdateres.</p>
    <p>
        <strong>M. Cookies</strong>
    </p>
    <p>Vores hjemmeside bruger cookies. En cookie er en fil, der indeholder en identifikator (en streng med bogstaver og tal), der sendes af en webserver til en webbrowser og gemmes af browseren. Identifikatoren sendes derefter tilbage til serveren, hver gang browseren anmoder om en side fra serveren. Cookies kan enten være “vedvarende” cookies eller “sessions-cookies”: en vedvarende cookie gemmes af en webbrowser og forbliver gyldig indtil dens indstillede udløbsdato, medmindre den slettes af brugeren inden udløbsdatoen; en sessionscookie udløber derimod ved slutningen af brugersessionen, når webbrowseren er lukket. Cookies indeholder typisk ikke oplysninger, der er personligt identificerbare for brugeren, men personlige oplysninger, som vi gemmer om dig, kan være knyttet til de oplysninger, der er gemt i og fået fra cookies. {SELECT ACCURATE PHRASING Vi bruger kun sessionscookies / kun vedvarende cookies / både sessions- og vedvarende cookies på vores hjemmeside.}</p>
    <ol>
        <li style="list-style-type: none;">
            <ol>
                <li>
                    Navnene på de cookies, som vi bruger på vores hjemmeside, og de formål, som de bruges til, er anført nedenfor:
                    <ol type="1">
                        <li>Vi bruger Google Analytics og Adwords på vores websted til at genkende en computer, når en bruger {INKLUDER ALLE ANVENDELSER AF COOKIES PÅ DIN SIDE, besøger webstedet / navigerer på webstedet / aktiverer en indkøbsvogn på webstedet / til at forbedre webstedets brugervenlighed / til at analysere brugen af webstedet / til at administrere webstedet / til at forhindre svindel og forbedre sikkerheden på webstedet / til at personalisere webstedet for hver bruger / til målrettede annoncer, som kan være af særlig interesse for specifikke brugere / beskriv formål};</li>
                    </ol>
                </li>
                <li>
                    De fleste browsere tillader dig at nægte at acceptere cookies — for eksempel:
                    <ol type="1">
                        <li>I Internet Explorer (version 10) kan du blokere cookies ved hjælp af indstillingerne for nægtelse af cookiehåndtering ved at klikke på “Værktøjer”, “Internetindstillinger”, “Privatliv” og derefter “Avanceret”;</li>
                        <li>I Firefox (version 24) kan du blokere alle cookies ved at klikke på “Værktøjer”, “Valgmuligheder”, “Privatliv”, vælge “Brug brugerdefinerede indstillinger til historik” i rullemenuen og fjerne markeringen af “Accepter cookies fra websteder” ; og</li>
                        <li>I Chrome (version 29) kan du blokere alle cookies ved at åbne menuen “Tilpas og kontrol” og klikke på “Indstillinger”, “Vis avancerede indstillinger” og “Indholdsindstillinger” og derefter vælge “Bloker websteder fra at indsamle data” under overskriften “Cookies”.</li>
                    </ol>
                </li>
            </ol>
            <p>Blokering af alle cookies vil have en negativ indvirkning på brugen af mange websteder. Hvis du blokerer cookies, vil du ikke være i stand til at bruge alle funktionerne på vores hjemmeside.</p>
            <ol start="3">
                <li>
                    Du kan godt slette cookies, der allerede er gemt på din computer – for eksempel:
                    <ol type="1">
                        <li>
                            I Internet Explorer (version 10) skal du manuelt slette cookie-filer (du kan finde instruktioner til at gøre det på
                            <a href="http://support.microsoft.com/kb/278835">http://support.microsoft.com/kb/278835</a>);
                        </li>
                        <li>. I Firefox (version 24) kan du slette cookies ved at klikke på “Værktøjer”, “Valgmuligheder” og “Privatliv” og derefter vælge “Brug brugerdefinerede indstillinger til historik”, klikke på “Vis cookies” og derefter klikke på “Fjern alle Cookies”; og</li>
                        <li>I Chrome (version 29) kan du slette alle cookies ved at åbne menuen “Tilpas og kontrol” og klikke på “Indstillinger”, “Vis avancerede indstillinger” og “Ryd browserdata” og derefter vælge “Slet cookies og andre websteds- og plug-in-data ”, før du klikker på“ Ryd browserdata. ”</li>
                    </ol>
                </li>
                <li>Sletning af cookies vil have en negativ indflydelse på brugen af mange websteder.</li>
            </ol>
            <p>
                <em>Website Planet påtager sig intet ansvar og råder dig til at konsultere relevante juridiske eksperter</em>
            </p>
            <p>&nbsp;</p>
        </li>
    </ol>
</section>
